.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  min-height: calc(100vh - 64px);
  width: 100%;

  .btnSubmit {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 90px;
    justify-content: center;
    margin: 10px 30px;
    position: relative;
    width: 180px;

    img {
      height: 90px;
      position: absolute;
      top: 0;
    }

    span {
      color: #fff;
      font-size: 2.6em;
      z-index: 999;
    }
  }

  .errorContainer {
    background: #f1dede;
    border: 1px solid #edd4d6;
    border-radius: 15px;
    color: #b25856;
    font-size: 1.5em;
    min-width: 300px;
    padding: 10px 20px;
    text-align: center;

    span {
      color: #aa4745;
      font-weight: bold;
    }
  }

  .trueContainer {
    background: #deeed7;
    border: 1px solid #deebcc;
    border-radius: 15px;
    color: #4b814b;
    font-size: 1.5em;
    min-width: 300px;
    padding: 10px 20px;
    text-align: center;

    span {
      color: #3f7841;
      font-weight: bold;
    }
  }

  .levelWrapper {
    margin-bottom: 30px;
    padding: 20px;

    img {
      margin: 10px 30px;
      width: 300px;
    }
  }
}
