.header {
  align-items: center;
  background: url('src/assets/img/header_pattern.png');
  background-size: contain;
  display: flex;
  height: 64px;
  justify-content: center;
  width: 100%;

  .title {
    color: #fff;
    display: block;
    font-size: 3em;
    text-align: center;
  }

  @media only screen and (max-width: 600px) {
    .title {
      font-size: 2em;
    }
  }
}
