.wrapper {
  align-items: center;
  background: #443026;
  border-radius: 50px;
  display: flex;
  min-width: 100px;
  padding: 5px;

  .star {
    background: #e3603f;
    border-radius: 50px;
    color: #feef4c;
    font-size: 1.3em;
    margin-right: 10px;
    padding: 10px;
  }

  .value {
    color: #fff;
    font-size: 2em;
    margin-right: 10px;
    text-align: center;
    width: 100%;
  }
}
