.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  width: 100%;

  .logo {
    height: 300px;
    margin-bottom: 30px;

    img {
      height: 100%;
    }
  }

  .levelWrapper {
    margin-bottom: 30px;
    padding: 20px;

    .levelContainer {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;

      img {
        cursor: pointer;
        margin: 10px 30px;
        width: 220px;

        &:hover {
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        }
      }
    }
  }
}
