html,
body,
#app {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
}

input {
  border: 2px solid #fc680b;
  border-radius: 15px;
  font-size: 1.3em;
  min-width: 300px;
  outline: none;
  padding: 10px 20px;
}

input:focus,
input:active {
  outline: none;
}
