.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  min-height: calc(100vh - 64px);
  width: 100%;

  .logo {
    height: 300px;

    img {
      height: 100%;
    }
  }

  @media only screen and (max-width: 600px) {
    .logo {
      height: auto;
      width: 70%;

      img {
        height: auto;
        width: 100%;
      }
    }
  }
}
